<div id="condition-form"{% if not readonly %} class="form-tab"{% endif %}>
{% include 'form_builder.html.twig' with { 'form': report_fields.condition, 'id': 'condition' } %}

{% if not readonly %}
    <div class="buttons">
        <div class="previous-button">
            <button type="button" onclick="showDiv('material-form', true)">{{ 'Previous' | trans }}</button>
        </div>
        <div class="next-button">
            <button type="button" onclick="showDiv('recommendations-form', true)">{{ 'Next' | trans }}</button>
        </div>
    </div>
{% endif %}
</div>
