<div id="recommendations-form"{% if not readonly %} class="form-tab"{% endif %}>
{% include 'form_builder.html.twig' with { 'form': report_fields.recommendations, 'id': 'recommendations' } %}

{% if not readonly %}
    <div class="buttons">
        <div class="previous-button">
            <button type="button" onclick="showDiv('condition-form', true)">{{ 'Previous' | trans }}</button>
        </div>
        <div class="next-button">
            <button type="button" onclick="showDiv('annotate-form', true)">{{ 'Next' | trans }}</button>
        </div>
    </div>
{% endif %}
</div>
