{% include 'header.html.twig' %}

{% block body %}

    <div class="login">
        <div class="login-row">
            <p>{{ 'Your remark has been sent to us. Thank you for your feedback!' | trans }}</p>
        </div>
    </div>
{% endblock %}

{% include 'footer.html.twig' %}
