<div id="report-form">
    {% include 'reason.html.twig' %}
    {% include 'basic_info.html.twig' %}
    {% include 'actors.html.twig' %}
    {% include 'material_construction.html.twig' %}
    {% include 'condition.html.twig' %}
    {% include 'recommendations.html.twig' %}
    {% include 'annotate.html.twig' %}

    {% if readonly %}
        {% set reps = {
            'owner': 'Owner / lender',
            'user': 'Borrower / restorer',
            'handler': 'Courier / art handler',
            'third_party': 'Other third party'
        } %}
        {% set has_signatures = false %}
        {% for rep, rep_name in reps %}
            {% if prefilled_data[rep ~ '_name'] is defined and prefilled_data[rep ~ '_rep_name'] is defined %}
                {% set has_signatures = true %}
            {% endif %}
        {% endfor %}
        {% if has_signatures %}
            {% include 'signatures.html.twig' with { 'reps': reps } %}
        {% endif %}
    {% else %}
        <script>
            function selectPreviousCheckbox(checkbox) {
                if(checkbox.checked) {
                    var parentElement = checkbox.parentElement;
                    if(parentElement !== null) {
                        parentElement = parentElement.parentElement;
                        if(parentElement !== null) {
                            var previousElementSibling = null;
                            if(parentElement.classList.contains("checkbox-subgroup")) {
                                previousElementSibling = parentElement.previousElementSibling;
                            } else {
                                parentElement = parentElement.parentElement;
                                if(parentElement !== null) {
                                    previousElementSibling = parentElement.previousElementSibling;
                                }
                            }
                            if(previousElementSibling !== null) {
                                var firstElementChild = previousElementSibling.firstElementChild;
                                if(firstElementChild !== null) {
                                    var inputElements = firstElementChild.getElementsByTagName("input");
                                    if(inputElements.length > 0) {
                                        inputElements[0].checked = true;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            function unselectNextItems(checkbox) {
                if(!checkbox.checked) {
                    var parentElement = checkbox.parentElement;
                    if(parentElement !== null) {
                        parentElement = parentElement.parentElement;
                        if(parentElement !== null && parentElement.classList.contains("form-item")) {
                            const nextElementSibling = parentElement.nextElementSibling;
                            if(nextElementSibling !== null && nextElementSibling.classList.contains("checkbox-subgroup")) {
                                for (let i = 0; i < nextElementSibling.children.length; i++) {
                                    const inputs = nextElementSibling.children[i].getElementsByTagName("input");
                                    for(let j = 0; j < inputs.length; j++) {
                                        if(inputs[j].type === 'checkbox' || inputs[j].type === 'radio') {
                                            inputs[j].checked = false;
                                        } else if(inputs[j].type === 'text' || inputs[j].type === 'date') {
                                            inputs[j].value = '';
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            function toggleCustomInput(customInputId, value, show, focus = true) {
                var customInput = document.getElementById(customInputId);
                if(customInput != null) {
                    if(show) {
                        customInput.value = '';
                        customInput.style = 'display: block';
                        if(focus) {
                            customInput.focus();
                        }
                    } else {
                        customInput.style = 'display: none';
                        customInput.value = value;
                    }
                }
            }

            function fixTextAreaHeight(id) {
                const ele = document.getElementById("textarea_" + id);
                ele.style.height = "16px";
                ele.style.height = (ele.scrollHeight + 5) + "px";
            }
        </script>
    {% endif %}
</div>
