{% set signature_count = 0 %}
{% set break = false %}
{% for i in 1..1000 if not break %}
    {% if prefilled_data['actor_' ~ i ~ '_role'] is defined %}
        {% if prefilled_data['actor_' ~ i ~ '_rep_name'] is defined %}
            {% set signature_count = signature_count + 1 %}
            {% if signature_count == 1 %}
                <div class="signatures" id="signatures-form">
                    <div class="report-header">{{ 'Signatures' | trans }}</div>
                    <p class="no-print">{{ 'Alternatively, after saving this document as a PDF, you can add a digitally verified signature to the PDF.' | trans }}</p>
            {% endif %}
            {% if signature_count % 2 == 1 %}
                <div class="signatures-row">
            {% endif %}

            {% include 'signature.html.twig' with { 'name' : prefilled_data['actor_' ~ i ~ '_rep_name'], 'index': i } %}

            {% if signature_count % 2 == 0 %}
                </div>
            {% endif %}

        {% endif %}
    {% else %}
        {% set break = true %}
    {% endif %}
{% endfor %}
{% if signature_count % 2 == 1 %}
            <div class="signature-box" style="visibility: hidden; height: 0; margin-top: 0; border: none; padding-top: 0; padding-bottom: 0">
                <canvas width="380px"></canvas>
            </div>
        </div>
{% endif %}
{% if signature_count > 0 %}
    </div>
{% endif %}
<script>
    function saveSignature(data, fileInputElement, name, index) {

        name = name.replace("/", "%2F");

        let container = new DataTransfer();
        let file = new File([data], "signature.png", { type: "image/png", lastModified: new Date().getTime() });
        container.items.add(file);
        fileInputElement.files = container.files;

        $(fileInputElement).simpleUpload('/{{ app.request.locale }}/save_signature/{{ report_id }}/' + name + '/' + index, {

            maxFileSize: 10000000, //10MB in bytes

            start: function(file) {
            },

            progress: function(progress){
                console.log('upload progress: ' + Math.round(progress) + '%');
            },

            success: function(data){
                console.log('upload successful!');
                console.log(data);

                if(data['image'] !== null) {
                    const div = document.getElementById('signature-pad-' + index);
                    const children = div.children;
                    for(var i = children.length - 1; i >= 0; i--) {
                        if(children[i].classList.contains('signature-div')) {
                            children[i].classList.remove('no-print');
                            children[i].getElementsByClassName('signature-input')[0].disabled = true;
                        } else {
                            div.removeChild(children[i]);
                        }
                    }
                    const img = document.createElement('img');
                    img.src = data['image'];

                    div.appendChild(img);
                }
            },

            error: function(error){
                console.log(error);
                console.log('upload error: ' + error.name + ': ' + error.message);
            }
        });
    }
</script>